 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: peachpuff;
            padding: 35px;
        }
        .container {
            margin: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            max-width: 1100px;
            margin: 4px;
            border-radius: 40px;
        }
        .profile {
            background: beige;
            padding: 25px;
            text-align: center;
            border-radius: 70px;
            box-shadow: 0 5px 15px wheat;
            transition: 0.3s ease;
            font-family: 'Times New Roman', Times, serif;
        }
        .profile img {
            width: 100px;
            height: 160px;
            border-radius: 60px;
            margin-bottom: 15px;
        }
        .profile:hover img {
            box-shadow: 0 0 5px
            cadetblue;
        }
        .profile h2 {
            color: oldlace;
        }